<div class="package impact-popover">
   <div class="impact">

      <!-- repeat for each subscore -->
      <div class="subscore {{ subscore.name }} metric"
           ng-repeat="subscore in package.subscores">
         <span class="name">
            <i class="fa fa-file-text-o" ng-if="subscore.name=='num_mentions'"></i>
            <i class="fa fa-exchange" ng-if="subscore.name=='pagerank'"></i>
            <i class="fa fa-download" ng-if="subscore.name=='num_downloads'"></i>



            {{ subscore.display_name }}
         </span>
         <span class="descr">
            <span class="val">{{ format.short(subscore.val) }}</span>
         </span>
      </div>




   </div>
</div>