<div class="package impact-popover">
   <div class="impact">

      <!-- repeat for each subscore -->
      <div class="subscore {{ subscore.name }} metric"
           ng-if="subscore.val > 0"
           ng-repeat="subscore in package.subscores">
         <span class="name">
            <i class="fa {{ subscore.icon }}"></i>
            {{ subscore.display_name }}
         </span>
         <span class="descr">
            <span class="val">{{ format.short(subscore.val) }}</span>
         </span>
      </div>




   </div>
</div>