<span class="snippet person-snippet"
     ng-controller="personSnippetCtrl">
   <span class="left-metrics"
         popover-placement="top"
         popover-trigger="mouseenter"
         popover-template="'snippet/impact-popover.tpl.html'">

      <span class="one-metric metric">
         {{ format.short(person.impact) }}
      </span>


      <span class="rank">
         #{{ format.commas(person.impact_rank) }}
      </span>

   </span>


   <span class="metadata">
      <span class="name-container">


         <span class="icon">
            <img class="person-icon" src="{{ person.icon_small }}" alt=""/>
         </span>



         <a class="name" tooltip="click for more info" href="person/{{ person.id }}">
            {{ person.name }}
         </a>


         <i popover-title="Academic"
            popover-trigger="mouseenter"
            popover="We infer academic status based on factors like email address, tags, and institution."
            ng-show="person.is_academic"
            class="is-academic fa fa-graduation-cap"></i>


         <span class="person-packages">
            <span class="works-on">{{ person.num_packages }} packages including: </span>
            <span class="package" ng-repeat="package in person.person_packages | orderBy: '-person_project_impact'">
               <a href="package/{{ package.language }}/{{ package.name }}">
                  {{ package.name }}</a><span class="sep" ng-show="!$last">,</span>
            </span>
         </span>
      </span>

      <span class="summary tags">
         <span class="tags">
            <a href="tag/{{ tag.name }}"
               class="tag"
               ng-repeat="tag in person.top_person_tags | orderBy: '-count'">
               {{ tag.name }}
            </a>
         </span>






      </span>
   </span>




</span>


