<div class="person-page">
   <div class="ti-page-sidebar">
      <div class="sidebar-header">
         <img ng-src="{{ person.icon }}" alt=""/>
         <div class="impact-score-info">
            <div class="score">
               {{ format.short(person.impact) }}
            </div>
            <div class="rank-info">
               <span class="rank">#{{ 1198 }}</span>
               <span class="out-of">of 71,763</span>
            </div>
         </div>
         <span class="name">
            {{ person.name }}
         </span>
         <span class="accounts">
            <i popover-title="Academic"
               popover-trigger="mouseenter"
               popover="We infer academic status based on factors like email address, tags, and institution."
               ng-show="person.is_academic"
               class="is-academic account fa fa-graduation-cap"></i>

            <img class="orcid account"
               popover-title="ORCiD coming soon"
               popover-trigger="mouseenter"
               popover="ORCiD is a unique identifier for researchers. We'll be rolling out support soon."
               ng-show="person.is_academic"
               src="static/img/orcid.gif" alt=""/>

            <a ng-if="person.github_login" class="account" href="http://github/{{ person.github_login }}">
               <i class="fa fa-github"></i>
               github/{{ person.github_login }}
            </a>
         </span>
      </div>
   </div>


   <div class="ti-page-body">

      <div class="packages">
         <div class="person-package" ng-repeat="package in person.person_packages | orderBy:'-person_project_impact'">
            <div class="person-package-stats">
               <span class="roles">
                  <span class="role role-{{ role }}" ng-repeat="role in package.roles | orderBy: '-toLowerCase()'">
                     <i class="fa fa-user" ng-if="role=='author'"></i>
                     <i class="fa fa-save"  ng-if="role=='github_contributor'"></i>
                     <i class="fa fa-github" ng-if="role=='github_owner'"></i>
                  </span>
               </span>
               <div class="bar-outside">
                  <span class="bar-inside" style="width: {{ package.person_project_credit * 100 }}%"></span>
               </div>
            </div>
            <span class="package-snippet-wrapper" ng-include="'snippet/package-snippet.tpl.html'"></span>
         </div>


      </div>



   </div>

</div>
