<div class="page entity-page person-page">


   <div class="ti-page-sidebar">
      <div class="sidebar-header">

         <div class="about">
            <img ng-src="{{ person.icon }}" alt=""/>
            <div class="score">
               <span class="impact">
                  {{ format.short(person.impact) }}
               </span>
               <span class="rank">
                  #{{ person.impact_rank }}
               </span>
            </div>

            <span class="name">
               {{ package.name }}
            </span>
            <span class="accounts">
               <i popover-title="Academic"
                  popover-trigger="mouseenter"
                  popover="We infer academic status based on factors like email address, tags, and institution."
                  ng-show="person.is_academic"
                  class="is-academic account fa fa-graduation-cap"></i>

               <img class="orcid account"
                  popover-title="ORCiD coming soon"
                  popover-trigger="mouseenter"
                  popover="ORCiD is a unique identifier for researchers. We'll be rolling out support soon."
                  ng-show="person.is_academic"
                  src="static/img/orcid.gif" alt=""/>

               <a ng-if="person.github_login" class="account" href="http://github/{{ person.github_login }}">
                  <i class="fa fa-github"></i>
                  <span class="github-url-part" ng-if="!person.is_academic">
                     github/{{ person.github_login }}
                  </span>
               </a>
            </span>

         </div>
      </div>


      <div class="sidebar-section contribs">
         <h3>Contributors</h3>
         <div class="tags">
            <a class="collab"
               popover="We collaborated"
               popover-trigger="mouseenter"
               popover-title="Top collaborator"
               href="person/{{ contrib.id }}"
               ng-repeat="contrib in package.top_contribs | orderBy: '-credit'">
               <img src="{{ contrib.icon_small }}" alt=""/>
               <span class="impact">{{ format.short(contrib.impact) }}</span>
               <span class="name">{{ contrib.name }}</span>
               <span class="is-academic" ng-show="contrib.is_academic"><i class="fa fa-graduation-cap"></i></span>

            </a>
         </div>
      </div>



      <div class="sidebar-section tags">
         <h3>Tags</h3>
         <div class="tags">
            <a class="tag" ng-repeat="tag in package.tags">
               {{ tag }}
            </a>
         </div>
      </div>

      <div class="sidebar-section actions">
         <a class="json-link btn btn-default"
            popover-title="View this page as JSON"
            popover-placement="right"
            popover-trigger="mouseenter"
            target="_self"
            popover="Everything here is open data, free to use for your own projects. You can also check out our API for more systematic access."
            href="api/package/{{ package.host }}/{{ package.name }}">
            <i class="fa fa-download"></i>
            JSON
         </a>



      </div>


   </div>


   <div class="ti-page-body">

   <!--

      <div class="packages">
         <div class="person-package" ng-repeat="package in person.person_packages | orderBy:'-person_package_impact'">
            <div class="person-package-stats">
               <span class="roles">
                  <span class="role role-{{ role }}" ng-repeat="role in package.roles | orderBy: '-toLowerCase()'">
                     <i class="fa fa-user" ng-if="role=='author'"></i>
                     <i class="fa fa-save"  ng-if="role=='github_contributor'"></i>
                     <i class="fa fa-github" ng-if="role=='github_owner'"></i>
                  </span>
               </span>
               <div class="bar-outside">
                  <span class="bar-inside" style="width: {{ package.person_package_credit * 100 }}%"></span>
               </div>
            </div>
            <span class="package-snippet-wrapper" ng-include="'snippet/package-snippet.tpl.html'"></span>
         </div>


      </div>


   -->

   </div>


</div>
