<div class="page entity-page package-page">


   <div class="ti-page-sidebar">
      <div class="sidebar-header">

         <div class="about">
            <div class="meta">
               <span class="name">
                  {{ package.name }}
               </span>

               <div class="summary">
                  {{ package.summary }}
               </div>
            </div>
            <div class="links">
               <a class="language-icon r"
                  href="https://cran.r-project.org/web/packages/{{ package.name }}/index.html"
                  ng-if="package.language=='r'">
                  R
               </a>
               <a class="language-icon python"
                  href="https://pypi.python.org/pypi/{{ package.name }}"
                  ng-if="package.language=='python'">
                  py
               </a>
               <a class="github"
                  href="http://github.com/{{ package.github_owner }}/{{ package.github_repo_name }}">
                  <i class="fa fa-github"></i>
               </a>
            </div>
         </div>
      </div>

      <div class="sidebar-section impact">
         <h3>Impact</h3>
         <div class="vis">
            <div class="subscore {{ subscore.name }}"
                 ng-if="subscore.val > 0"
                 ng-repeat="subscore in package.subscores">
               <div class="bar-outer">
                  <div class="bar-inner {{ subscore.name }}" style="width: {{ subscore.score / 10 }}%;"></div>
               </div>
               <div class="subscore-label">
                  <span class="val">{{ format.short(subscore.val) }}</span>
                  <span class="text">{{ subscore.display_name }}</span>
               </div>

            </div>
         </div>
      </div>




      <div class="sidebar-section contribs">
         <h3>Key contributors</h3>
         <div class="contrib"
            ng-repeat="person_package in package.top_contribs | orderBy: '-credit'">
            <wheel></wheel>
            <img class="person-icon" src="{{ person_package.icon_small }}" alt=""/>
            <a class="name" href="person/{{ person_package.id }}">{{ person_package.name }}</a>
            <i popover-title="Academic"
               popover-trigger="mouseenter"
               popover="We infer academic status based on factors like email address, tags, and institution."
               ng-show="person_package.is_academic"
               class="is-academic fa fa-graduation-cap"></i>
         </div>
      </div>



      <div class="sidebar-section tags" ng-if="package.tags.length">
         <h3>Tags</h3>
         <div class="tags">
            <a class="tag" ng-repeat="tag in package.tags">
               {{ tag }}
            </a>
         </div>
      </div>

      <div class="sidebar-section actions">
         <a class="json-link btn btn-default"
            popover-title="View this page as JSON"
            popover-placement="right"
            popover-trigger="mouseenter"
            target="_self"
            popover="Everything here is open data, free to use for your own projects. You can also check out our API for more systematic access."
            href="api/package/{{ package.host }}/{{ package.name }}">
            <i class="fa fa-download"></i>
            JSON
         </a>



      </div>


   </div>


   <div class="ti-page-body">

   <!--

      <div class="packages">
         <div class="person-package" ng-repeat="package in person.person_packages | orderBy:'-person_package_impact'">
            <div class="person-package-stats">
               <span class="roles">
                  <span class="role role-{{ role }}" ng-repeat="role in package.roles | orderBy: '-toLowerCase()'">
                     <i class="fa fa-user" ng-if="role=='author'"></i>
                     <i class="fa fa-save"  ng-if="role=='github_contributor'"></i>
                     <i class="fa fa-github" ng-if="role=='github_owner'"></i>
                  </span>
               </span>
               <div class="bar-outside">
                  <span class="bar-inside" style="width: {{ package.person_package_credit * 100 }}%"></span>
               </div>
            </div>
            <span class="package-snippet-wrapper" ng-include="'snippet/package-snippet.tpl.html'"></span>
         </div>


      </div>


   -->

   </div>


</div>
