@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic");
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: lato, helvetica, arial, sans-serif;
  padding-top: 64px;
}
body .wrapper {
  width: 1200px;
  margin: 0 auto;
}
body a {
  color: #ed1c24;
}
body a:hover {
  color: #ed1c24;
}
body.coming-soon {
  background: #00aeef;
  text-align: center;
  padding-top: 180px;
  font-family: lato, helvetica, arial, sans-serif;
}
body.coming-soon div.logo img {
  width: 180px;
}
body.coming-soon div.tagline {
  font-size: 45px;
  font-weight: 100;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 70px;
}
body.coming-soon div.tagline div.extra {
  font-size: 16px;
}
body.coming-soon div.cta #mc_embed_signup {
  font-family: lato, helvetica, arial, sans-serif;
  background: none;
}
body.coming-soon div.cta #mc_embed_signup form #mc_embed_signup_scroll {
  width: 350px;
  margin: 10px auto 0;
}
body.coming-soon div.cta #mc_embed_signup form #mc_embed_signup_scroll label {
  display: none;
}
body.coming-soon div.cta #mc_embed_signup form #mc_embed_signup_scroll input {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 18px;
  height: 42px;
  font-weight: 100;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body.coming-soon div.cta #mc_embed_signup form #mc_embed_signup_scroll input.btn {
  background: #ccc;
  color: #333;
  border: none;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body.coming-soon div.cta #mc_embed_signup form #mc_embed_signup_scroll input.btn:hover {
  background: #bbb;
}
body.coming-soon div.contact {
  margin-top: 10px;
  padding-left: 50px;
}
body.coming-soon div.contact a.contact-link {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  margin: 5px 10px;
}
body.coming-soon div.contact a.contact-link i {
  font-size: 18px;
  margin-right: 2px;
  vertical-align: middle;
}
.tooltip {
  font-weight: 300;
  font-size: 14px;
}
li {
  list-style-type: none;
}
div.global-modal .modal-body {
  text-align: center;
  margin-bottom: 10px;
}
div.global-modal .modal-body h2 i {
  margin-right: 10px;
  color: #555;
}
div.global-modal .modal-body div.sub-msg {
  font-size: 18px;
  color: #555;
}
div.ti-header {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 10px 0 10px;
  background: #00aeef;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
div.ti-header h1 {
  margin: 0 38px;
  font-weight: 900;
}
div.ti-header h1 a {
  color: orangered;
}
div.ti-header h1 a:hover {
  text-decoration: none;
}
div.ti-header h1 a img {
  margin: 0px 0 -20px;
  width: 100px;
}
div.ti-header div.search-box {
  width: 500px;
  position: absolute;
  top: 0;
  right: 20px;
  float: right;
  padding-top: 10px;
}
div.ti-header div.search-box input {
  border: none;
  width: 100%;
  font-size: 18px;
  height: 40px;
}
div.ti-header div.search-box ul.dropdown-menu li > a {
  cursor: pointer;
  width: 500px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
div.ti-header div.search-box ul.dropdown-menu li > a:before,
div.ti-header div.search-box ul.dropdown-menu li > a:after {
  content: " ";
  display: table;
}
div.ti-header div.search-box ul.dropdown-menu li > a:after {
  clear: both;
}
div.ti-header div.search-box ul.dropdown-menu li > a span.summary {
  font-size: 13px;
  float: right;
  white-space: normal;
  width: 300px;
  line-height: 1.4;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header {
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: 900;
  text-transform: uppercase;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header img {
  width: 22px;
  vertical-align: -5px;
  margin-right: 2px;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa {
  margin-right: 3px;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa.fa-user {
  color: green;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa.fa-tag {
  color: blueviolet;
}
div.ti-header div.ti-menu {
  position: absolute;
  left: 160px;
  bottom: 21px;
  font-size: 20px;
  font-weight: 100;
}
div.ti-header div.ti-menu a.menu-link {
  color: #fff;
  display: inline-block;
  padding: 2px 7px;
}
div.ti-header div.ti-menu a.menu-link.about .popover-inner {
  width: 200px;
  color: #333;
  text-align: center;
}
div.landing div.tagline {
  text-align: center;
  color: #333;
  font-size: 30px;
  width: 1100px;
  margin: 150px auto 0;
  font-weight: 100;
}
div.sidebar-page div.ti-page-sidebar {
  float: left;
  width: 400px;
  padding: 70px 20px 20px 60px;
}
div.sidebar-page div.ti-page-sidebar h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}
div.sidebar-page div.ti-page-body {
  float: left;
  padding-top: 50px;
  padding-left: 40px;
}
div.tag-page .ti-page-sidebar div.tag-about {
  margin-top: -5px;
}
div.tag-page .ti-page-sidebar div.tag-about span.name {
  font-size: 30px;
}
div.tag-page .ti-page-sidebar div.tag-about span.num-tags {
  display: block;
  margin-left: 32px;
  font-size: 18px;
}
div.tag-page .ti-page-sidebar a.json-link {
  margin-top: 50px;
}
div.person-page div.ti-page-sidebar {
  float: left;
  width: 400px;
}
div.person-page div.ti-page-sidebar h3 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}
div.person-page div.ti-page-sidebar .sidebar-header {
  margin-left: -18px;
  margin-top: -10px;
}
div.person-page div.ti-page-sidebar .sidebar-header:before,
div.person-page div.ti-page-sidebar .sidebar-header:after {
  content: " ";
  display: table;
}
div.person-page div.ti-page-sidebar .sidebar-header:after {
  clear: both;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about {
  float: left;
  margin-bottom: 10px;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about img {
  float: left;
  margin-top: 0;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .score {
  margin: 0 0 5px 20px;
  float: left;
  line-height: 1;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .score span.impact {
  font-size: 35px;
  font-weight: 100;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .score span.rank {
  font-weight: 100;
  font-size: 12px;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .name {
  display: block;
  font-size: 24px;
  margin-left: 20px;
  float: left;
  font-weight: bold;
  line-height: 1.3;
  width: 200px;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .accounts {
  float: left;
  margin: 10px 20px 0;
  color: #999;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .accounts .account {
  margin-right: 10px;
  vertical-align: top;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .accounts img {
  height: 14px;
  margin-right: 90px;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .accounts a {
  color: #999;
}
div.person-page div.ti-page-sidebar .sidebar-header .person-about .accounts a i {
  vertical-align: middle;
}
div.person-page div.ti-page-sidebar .sidebar-header .impact-score-info {
  margin: 0px 0 50px 0;
  float: left;
}
div.person-page div.ti-page-sidebar .sidebar-header .impact-score-info .score {
  font-size: 46px;
  font-weight: 100;
  float: left;
  margin: 0 10px 0 0;
}
div.person-page div.ti-page-sidebar .sidebar-header .impact-score-info .rank-info {
  float: left;
  line-height: 1.3;
  margin-top: 14px;
  margin-left: 10px;
  font-weight: 100;
}
div.person-page div.ti-page-sidebar .sidebar-header .impact-score-info .rank-info .rank {
  font-size: 18px;
  font-weight: normal;
  display: block;
}
div.person-page div.ti-page-sidebar .sidebar-header .impact-score-info .rank-info .out-of {
  font-size: 14px;
  color: #333;
}
div.person-page div.ti-page-sidebar .impact-descr {
  margin: 50px 30px 50px 0;
  font-size: 15px;
}
div.person-page div.ti-page-sidebar .top-tags {
  clear: both;
  margin: 30px 20px 0 0;
}
div.person-page div.ti-page-sidebar .top-tags .tags span.tag {
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.person-page div.ti-page-sidebar .top-collabs {
  margin-top: 50px;
}
div.person-page div.ti-page-sidebar .top-collabs:before,
div.person-page div.ti-page-sidebar .top-collabs:after {
  content: " ";
  display: table;
}
div.person-page div.ti-page-sidebar .top-collabs:after {
  clear: both;
}
div.person-page div.ti-page-sidebar a.json-link {
  margin-top: 50px;
}
div.person-page .ti-page-body .packages {
  margin-left: 40px;
}
div.person-page .ti-page-body .packages div.person-package .person-package-stats {
  padding: 48px 10px 0 0;
  text-align: right;
  float: left;
}
div.person-page .ti-page-body .packages div.person-package .person-package-stats span.roles {
  display: block;
  line-height: 1.0;
}
div.person-page .ti-page-body .packages div.person-package .person-package-stats span.roles span.role {
  font-size: 14px;
  margin-left: 5px;
  color: #777;
}
div.person-page .ti-page-body .packages div.person-package .person-package-stats .bar-outside {
  height: 4px;
  width: 50px;
  display: inline-block;
  background: #ddd;
  margin-top: 5px;
  text-align: right;
}
div.person-page .ti-page-body .packages div.person-package .person-package-stats .bar-outside span.bar-inside {
  background: #999;
  height: 100%;
  display: inline-block;
}
div.sidebar-page.top-page div.sidebar {
  padding-top: 154px;
}
div.sidebar-page.top-page div.sidebar .popover-inner {
  min-width: 200px;
}
div.sidebar-page.top-page div.sidebar div.facet {
  margin-bottom: 35px;
}
div.sidebar-page.top-page div.sidebar div.facet h3 {
  font-size: 22px;
  margin: 5px 0;
}
div.sidebar-page.top-page div.sidebar div.facet ul li {
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  margin-left: 35px;
  text-indent: -11px;
  line-height: 1.3;
  margin-bottom: 6px;
}
div.sidebar-page.top-page div.sidebar div.facet ul li span.status i.fa-square-o {
  margin-right: 3px;
  vertical-align: -2px;
}
div.sidebar-page.top-page div.main {
  padding-left: 40px;
}
div.sidebar-page.top-page div.main .leaderboard-header {
  padding-top: 30px;
}
div.sidebar-page.top-page div.main .leaderboard-header span.language {
  text-transform: capitalize;
}
div.sidebar-page.top-page div.main .leaderboard-header div.descr {
  width: 700px;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 30px;
}
div.sidebar-page.top-page div.main .leaderboard-header div.descr a.impact-dimension {
  color: #333;
  cursor: pointer;
  display: inline-block;
}
div.sidebar-page.top-page div.main .leaderboard-header div.descr a.impact-dimension i {
  opacity: .5;
  font-size: 80%;
  vertical-align: top;
  margin-left: -2px;
  padding-right: 2px;
}
div.sidebar-page.top-page div.main .leaderboard-header div.descr a.impact-dimension:hover i {
  opacity: 1;
}
div.package-page .coming-soon {
  width: 500px;
  margin: 200px auto;
  text-align: center;
}
div.package-page div.ti-page-header h1 span.indegree {
  font-size: 16px;
  font-weight: 100;
  padding-left: 20px;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node {
  border: 1px solid #eee;
  margin: -1px;
  padding: 0;
  color: #999;
  position: relative;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node.is-root-true {
  font-size: 16px !important;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node:before,
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node:after {
  content: " ";
  display: table;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node:after {
  clear: both;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node.is-rollup-true {
  font-style: italic;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node.is-package-true {
  color: #333;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node div.about {
  font-size: 16px;
  padding-right: 5px;
  padding: 5px 5px 5px 10px;
  min-width: 100px;
  float: left;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node div.about span.metrics {
  font-size: 12px;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node div.about span.metrics span.pagerank {
  font-weight: bold;
  font-style: normal;
}
div.package-page div.dep-nodes-tree div.dep-node-container div.dep-node div.children {
  float: left;
}
div.page.sidebar-page .sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 120px 30px 30px 50px;
}
div.page.sidebar-page .main {
  margin-left: 230px;
}
span.snippet {
  margin: 15px 0 15px 0;
  padding: 4px 0;
  color: #333;
  text-decoration: none;
  display: inline-block;
}
span.snippet span.left-icons {
  display: inline-block;
}
span.snippet span.left-metrics {
  vertical-align: middle;
  display: inline-block;
  text-align: right;
  float: left;
  margin-top: -3px;
  line-height: 1.3;
}
span.snippet span.left-metrics .rank {
  display: inline-block;
  width: 58px;
  text-align: right;
  margin-top: 14px;
}
span.snippet span.left-metrics .rank span.val {
  font-size: 12px;
  font-weight: bold;
}
span.snippet span.left-metrics .rank span.octothorpe {
  font-size: 10px;
  font-weight: 100;
}
span.snippet span.left-metrics .one-metric {
  display: none;
}
span.snippet span.left-metrics .vis {
  margin-top: 9px;
}
span.snippet span.left-metrics .vis .subscore {
  line-height: .7;
  float: right;
}
span.snippet span.left-metrics .vis .subscore .val {
  display: none;
  font-size: 10px;
  width: 30px;
  text-align: right;
  vertical-align: 2px;
}
span.snippet span.left-metrics .vis .subscore .val.num_downloads {
  color: #377eb8;
}
span.snippet span.left-metrics .vis .subscore .val.pagerank {
  color: #4daf4a;
}
span.snippet span.left-metrics .vis .subscore .val.num_citations {
  color: #984ea3;
}
span.snippet span.left-metrics .vis .subscore .bar-outer {
  width: 8px;
  display: inline-block;
  height: 17px;
  background: #fafafa;
  text-align: right;
  position: relative;
}
span.snippet span.left-metrics .vis .subscore .bar-outer .bar-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
}
span.snippet span.left-metrics .vis .subscore .bar-outer .bar-inner.num_downloads {
  background: #377eb8;
}
span.snippet span.left-metrics .vis .subscore .bar-outer .bar-inner.pagerank {
  background: #4daf4a;
}
span.snippet span.left-metrics .vis .subscore .bar-outer .bar-inner.num_citations {
  background: #984ea3;
}
span.snippet span.metadata {
  display: inline-block;
  float: left;
  width: 300px;
  margin-left: 15px;
}
span.snippet span.metadata span.name-container {
  float: left;
  width: 700px;
}
span.snippet span.metadata span.name-container span.icon {
  margin-right: 4px;
}
span.snippet span.metadata span.name-container span.icon img.person-icon {
  height: 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
span.snippet span.metadata span.name-container span.icon.tag-icon i {
  font-size: 18px;
  color: #555;
  vertical-align: -5px;
}
span.snippet span.metadata span.name-container a.name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
}
span.snippet span.metadata span.name-container a.name:hover {
  color: #333;
}
span.snippet span.metadata span.name-container i.is-academic {
  vertical-align: -2px;
  color: #555;
}
span.snippet span.metadata span.name-container span.related-tags {
  vertical-align: bottom;
}
span.snippet span.metadata span.person-packages {
  font-size: 16px;
  display: block;
  margin-top: 3px;
}
span.snippet span.metadata span.person-packages span.sep {
  margin: 0 2px;
}
span.snippet span.metadata span.person-packages a {
  color: #333;
  white-space: nowrap;
  margin-left: 5px;
  font-style: italic;
}
span.snippet span.metadata span.summary {
  float: left;
  padding-top: 2px;
  margin-top: 5px;
  font-size: 15px;
  display: inline-block;
  width: 600px;
}
span.snippet span.metadata span.summary.tags {
  margin: 5px 0 0 -3px;
}
span.snippet span.contribs {
  vertical-align: -4px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
}
span.snippet span.contribs a.contrib {
  color: #333;
}
#impact-popover div.metric {
  font-size: 14px;
  margin: 10px 0 0;
  line-height: 1.2;
}
#impact-popover div.metric:before,
#impact-popover div.metric:after {
  content: " ";
  display: table;
}
#impact-popover div.metric:after {
  clear: both;
}
#impact-popover div.metric.head {
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
#impact-popover div.metric.head:before,
#impact-popover div.metric.head:after {
  content: " ";
  display: table;
}
#impact-popover div.metric.head:after {
  clear: both;
}
#impact-popover div.metric.head span.name {
  font-size: 18px;
  text-align: right;
  padding-right: 20px;
  font-weight: 900;
}
#impact-popover div.metric.head span.val {
  font-size: 18px;
}
#impact-popover div.metric.head span.val span.small {
  font-size: 12px;
}
#impact-popover div.metric.citations {
  color: #984ea3;
}
#impact-popover div.metric.pagerank {
  color: #4daf4a;
}
#impact-popover div.metric.downloads {
  color: #377eb8;
}
#impact-popover div.metric.stars {
  color: #e41a1c;
}
#impact-popover div.metric span.name {
  display: inline-block;
  width: 100px;
  float: left;
  margin: 0 0px 0 17px;
  text-indent: -10px;
  font-weight: bold;
}
#impact-popover div.metric span.descr {
  float: left;
  width: 100px;
}
#impact-popover div.metric span.descr span.val {
  font-size: 18px;
  font-weight: bold;
}
#impact-popover div.metric span.descr span.paren {
  font-size: 12px;
}
span.language-icon {
  font-weight: 100;
  text-align: center;
  width: 16px;
  display: inline-block;
  font-size: 10px;
  vertical-align: -1px;
  border: 1px solid #777;
  color: #777;
  background: none;
  cursor: default;
}
span.language-icon.r {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.person-mini {
  display: inline-block;
  float: left;
  clear: left;
  color: #333;
  margin: 0 0 10px 10px;
  font-size: 16px;
}
.person-mini:hover {
  text-decoration: none;
  color: #333;
}
.person-mini:hover span.name {
  text-decoration: underline;
}
.person-mini img {
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  vertical-align: -2px;
}
.person-mini .impact {
  font-size: 150%;
  font-weight: 100;
  margin: 0 5px;
}
.person-mini .name {
  font-style: italic;
}
.person-mini .is-academic i {
  font-size: 80%;
  opacity: .8;
}
a.tag {
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 0 9px 2px;
  margin: 0 2px;
  color: #999;
  cursor: pointer;
}
a.tag:hover {
  text-decoration: none;
  background: #eee;
  color: #777;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: red !important;
  color: red !important;
  box-shadow: 0 0 10px 0;
  /* Inherits the font color */

  height: 2px;
  opacity: 0;
  /* Add CSS3 styles for transition smoothing */

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
