@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,400italic");
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: lato, helvetica, arial, sans-serif;
}
body .wrapper {
  width: 1200px;
  margin: 0 auto;
}
body a {
  color: orangered;
}
body a:hover {
  color: orangered;
}
.tooltip {
  font-weight: 300;
  font-size: 14px;
}
li {
  list-style-type: none;
}
div.global-modal .modal-body {
  text-align: center;
  margin-bottom: 10px;
}
div.global-modal .modal-body h2 i {
  margin-right: 10px;
  color: #555;
}
div.global-modal .modal-body div.sub-msg {
  font-size: 18px;
  color: #555;
}
div.ti-header {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 10px 0 20px;
  background: #ddd;
}
div.ti-header h1 {
  margin: 0 20px;
  font-weight: 900;
}
div.ti-header h1 a {
  color: orangered;
}
div.ti-header h1 a:hover {
  text-decoration: none;
}
div.ti-header h1 a img {
  width: 150px;
}
div.ti-header div.search-box {
  text-align: center;
  width: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  padding-top: 10px;
}
div.ti-header div.search-box input {
  width: 100%;
  font-size: 20px;
}
div.ti-header div.search-box ul.dropdown-menu li > a {
  cursor: pointer;
  width: 600px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
div.ti-header div.search-box ul.dropdown-menu li > a:before,
div.ti-header div.search-box ul.dropdown-menu li > a:after {
  content: " ";
  display: table;
}
div.ti-header div.search-box ul.dropdown-menu li > a:after {
  clear: both;
}
div.ti-header div.search-box ul.dropdown-menu li > a span.summary {
  font-size: 13px;
  float: right;
  white-space: normal;
  width: 300px;
  line-height: 1.4;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header {
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: 900;
  text-transform: uppercase;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header img {
  width: 22px;
  vertical-align: -5px;
  margin-right: 2px;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa {
  margin-right: 3px;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa.fa-user {
  color: green;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa.fa-tag {
  color: blueviolet;
}
div.ti-header div.ti-menu {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
div.ti-header div.ti-menu a.menu-link {
  color: #999;
  font-weight: 100;
  font-size: 16px;
  display: inline-block;
  padding: 2px 10px;
  cursor: pointer;
}
div.ti-header div.ti-menu a.menu-link i {
  margin-right: 3px;
}
div.ti-header div.ti-menu a.menu-link:hover {
  text-decoration: none;
  color: #555;
}
div.landing div.tagline {
  text-align: center;
  color: #333;
  font-size: 30px;
  width: 1100px;
  margin: 150px auto 0;
  font-weight: 100;
}
div.person-page div.ti-page-header h1 img {
  height: 60px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
div.page.sidebar-page .sidebar {
  width: 300px;
  background: #fff;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  padding: 30px;
}
div.page.sidebar-page .main {
  margin-left: 330px;
}
span.package-snippet {
  margin: 10px 0;
  padding: 4px 0;
  color: #333;
  text-decoration: none;
  display: inline-block;
}
span.package-snippet span.left-icons {
  display: inline-block;
}
span.package-snippet span.left-metrics {
  vertical-align: middle;
  display: inline-block;
  width: 75px;
  text-align: right;
  font-weight: bold;
}
span.package-snippet span.left-metrics span.vis {
  display: inline-block;
  background: #eee;
  width: 58px;
  height: 7px;
  text-align: right;
  margin-right: 3px;
}
span.package-snippet span.left-metrics span.vis span.vis-bar {
  display: inline-block;
  height: 100%;
  text-align: right;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
span.package-snippet span.left-metrics span.vis span.vis-bar span.subscore {
  display: inline-block;
  height: 100%;
}
span.package-snippet span.left-metrics span.vis span.vis-bar span.subscore.subscore-num_citations_percentile {
  background: #984ea3;
}
span.package-snippet span.left-metrics span.vis span.vis-bar span.subscore.subscore-pagerank_percentile {
  background: #4daf4a;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
span.package-snippet span.left-metrics span.vis span.vis-bar span.subscore.subscore-num_downloads_percentile {
  background: #377eb8;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
span.package-snippet span.left-metrics span.vis span.vis-bar span.subscore.subscore-num_stars_percentile {
  background: #e41a1c;
}
span.package-snippet span.left-metrics .one-metric {
  cursor: default;
  font-size: 24px;
  color: #333;
  font-weight: 100;
}
span.package-snippet span.left-metrics .one-metric span.percent {
  font-size: 50%;
  margin-left: 0px;
}
span.package-snippet span.metadata {
  display: inline-block;
}
span.package-snippet span.metadata span.language-icon {
  margin-right: 4px;
  font-weight: 100;
  text-align: center;
  vertical-align: 3px;
  margin-left: 3px;
  background: #777;
  padding: 0;
  width: 16px;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  border: 1px solid #777;
  color: #777;
  background: none;
}
span.package-snippet span.metadata span.language-icon.r {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
span.package-snippet span.metadata span.name-container {
  padding: 0 10px 0 5px;
  display: inline-block;
  vertical-align: middle;
  min-width: 165px;
}
span.package-snippet span.metadata span.name-container a.name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
span.package-snippet span.metadata span.name-container a.name:hover {
  color: #333;
}
span.package-snippet span.metadata span.summary {
  font-size: 12px;
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}
#sort-score-popover div.metric {
  font-size: 14px;
  margin: 10px 0 0;
  line-height: 1.2;
}
#sort-score-popover div.metric:before,
#sort-score-popover div.metric:after {
  content: " ";
  display: table;
}
#sort-score-popover div.metric:after {
  clear: both;
}
#sort-score-popover div.metric.head {
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
}
#sort-score-popover div.metric.head:before,
#sort-score-popover div.metric.head:after {
  content: " ";
  display: table;
}
#sort-score-popover div.metric.head:after {
  clear: both;
}
#sort-score-popover div.metric.head span.name {
  font-size: 18px;
  text-align: right;
  padding-right: 20px;
  font-weight: 900;
}
#sort-score-popover div.metric.head span.val {
  font-size: 18px;
}
#sort-score-popover div.metric.head span.val span.small {
  font-size: 12px;
}
#sort-score-popover div.metric.citations {
  color: #984ea3;
}
#sort-score-popover div.metric.pagerank {
  color: #4daf4a;
}
#sort-score-popover div.metric.downloads {
  color: #377eb8;
}
#sort-score-popover div.metric.stars {
  color: #e41a1c;
}
#sort-score-popover div.metric span.name {
  display: inline-block;
  width: 100px;
  float: left;
  margin: 0 0px 0 17px;
  text-indent: -10px;
  font-weight: bold;
}
#sort-score-popover div.metric span.descr {
  float: left;
  width: 100px;
}
#sort-score-popover div.metric span.descr span.val {
  font-size: 18px;
  font-weight: bold;
}
#sort-score-popover div.metric span.descr span.paren {
  font-size: 12px;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: orangered !important;
  color: orangered !important;
  box-shadow: 0 0 10px 0;
  /* Inherits the font color */

  height: 2px;
  opacity: 0;
  /* Add CSS3 styles for transition smoothing */

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
