@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,400italic");
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: lato, helvetica, arial, sans-serif;
}
body .wrapper {
  width: 1200px;
  margin: 0 auto;
}
body a {
  color: orangered;
}
body a:hover {
  color: orangered;
}
.tooltip {
  font-weight: 300;
  font-size: 14px;
}
li {
  list-style-type: none;
}
div.global-modal .modal-body {
  text-align: center;
  margin-bottom: 10px;
}
div.global-modal .modal-body h2 i {
  margin-right: 10px;
  color: #555;
}
div.global-modal .modal-body div.sub-msg {
  font-size: 18px;
  color: #555;
}
div.ti-header {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 10px 0 20px;
  background: #ddd;
}
div.ti-header h1 {
  margin: 0 20px;
  font-weight: 900;
}
div.ti-header h1 a {
  color: orangered;
}
div.ti-header h1 a img {
  width: 150px;
}
div.ti-header div.search-box {
  text-align: center;
  width: 600px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -300px;
  padding-top: 10px;
}
div.ti-header div.search-box input {
  width: 100%;
  font-size: 20px;
}
div.ti-header div.search-box ul.dropdown-menu li > a {
  cursor: pointer;
  width: 600px;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
div.ti-header div.search-box ul.dropdown-menu li > a:before,
div.ti-header div.search-box ul.dropdown-menu li > a:after {
  content: " ";
  display: table;
}
div.ti-header div.search-box ul.dropdown-menu li > a:after {
  clear: both;
}
div.ti-header div.search-box ul.dropdown-menu li > a span.summary {
  font-size: 13px;
  float: right;
  white-space: normal;
  width: 300px;
  line-height: 1.4;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header {
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: 900;
  text-transform: uppercase;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header img {
  width: 22px;
  vertical-align: -5px;
  margin-right: 2px;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa {
  margin-right: 3px;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa.fa-user {
  color: green;
}
div.ti-header div.search-box ul.dropdown-menu div.typeahead-group-header i.fa.fa-tag {
  color: blueviolet;
}
div.ti-header div.controls {
  position: absolute;
  right: 20px;
  top: 20px;
}
div.ti-header div.controls .menu-button {
  font-size: 30px;
  color: #555;
  cursor: pointer;
}
div.ti-header div.controls .menu-button.on-dark-bg {
  color: #fff;
}
div.landing div.tagline {
  text-align: center;
  color: #333;
  font-size: 30px;
  width: 1100px;
  margin: 150px auto 0;
  font-weight: 100;
}
div.person-page div.ti-page-header h1 img {
  height: 60px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
span.package-snippet {
  margin: 4px 0;
  padding: 4px 0;
  color: #333;
  text-decoration: none;
  display: inline-block;
}
span.package-snippet span.left-metrics {
  display: inline-block;
  width: 200px;
  text-align: right;
  font-weight: bold;
}
span.package-snippet span.left-metrics .metric {
  cursor: default;
}
span.package-snippet span.left-metrics .metric.metric {
  font-size: 24px;
  color: #ff0000;
}
span.package-snippet span.metadata {
  display: inline-block;
}
span.package-snippet span.metadata span.name-container {
  padding: 0 10px 0 5px;
  display: inline-block;
  min-width: 150px;
}
span.package-snippet span.metadata span.name-container a.name {
  font-size: 18px;
  color: #333;
}
span.package-snippet span.metadata span.name-container a.name:hover {
  color: #333;
}
span.package-snippet span.metadata span.summary {
  font-size: 12px;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
/* Styling for the ngProgress itself */
#ngProgress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: orangered !important;
  color: orangered !important;
  box-shadow: 0 0 10px 0;
  /* Inherits the font color */

  height: 2px;
  opacity: 0;
  /* Add CSS3 styles for transition smoothing */

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
