<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <base href="/"> <!-- needed for html5 pretty urls -->
   <meta charset="utf-8">
   <title>Depsy</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">


   <!-- Load stylesheets -->
   <!-------------------------------------------------------------------------->
   <!--[if lt IE 9]>
   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

   <!-- bower stylesheets -->

   <!-- our stylesheet -->
   <link href="/static/main.css" rel="stylesheet">






   <!-- Load scripts -->
   <!-------------------------------------------------------------------------->

   <!-- external libs -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>



</head>
<body class="coming-soon">

   <div class="logo"><img src="static/img/logo-white-big.png"/></div>
   <div class="tagline">Uncover the impact of research software.</div>
   <div class="cta"></div>



</body>
</html>