<ul class="our-nav not-signed-in" ng-show="!isAuthenticated()">
   <li>
      <a ng-click="authenticate()">
         <i class="fa fa-sign-in"></i>
         Sign in
      </a>
   </li>
</ul>

<ul class="our-nav signed-in" ng-show="isAuthenticated()">
   <li>
      <a href="/u/{{ currentUser.d.username }}" class="user-name-and-pic">
         <img src="{{ currentUser.d.avatar_url }}"/>
         <span class="name">
            {{ currentUser.d.name }}
         </span>
      </a>
   </li>
   <li>
      <a href="/settings">
         <i class="fa fa-cog"></i>
         Settings
      </a>
   </li>


   <li>
      <a href="/" ng-click="logout()">
         <i class="fa fa-sign-out"></i>
         Log out
      </a>
   </li>
</ul>

<div class="bottom-menu">
   <ul class="our-nav">
      <!--
      <li>
         <a href="/about">
            About
         </a>
      </li>
      -->
   </ul>
   <a class="home-link" href="/">
      <img src="static/img/impactstory-logo.png" alt=""/>
   </a>
</div>