<div class="top-packages top-page page sidebar-page">



   <div class="sidebar">

      <div class="leader-type-select facet">
         <h3>Show me</h3>
         <ul>
            <li class="filter-option" ng-click="filters.set('type', 'packages')">
               <span class="status" ng-if="filters.d.type == 'packages'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.type != 'packages'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">packages</span>
            </li>

            <li class="filter-option" ng-click="filters.set('type', 'people')">
               <span class="status" ng-if="filters.d.type == 'people'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.type != 'people'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">people</span>
            </li>

            <li class="filter-option" ng-click="filters.set('type', 'tags')">
               <span class="status" ng-if="filters.d.type == 'tags'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.type != 'tags'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">tags</span>
            </li>
         </ul>

      </div>

      <div class="language-type-select facet">
         <h3 ng-show="filters.d.type=='packages'">written in</h3>
         <h3 ng-show="filters.d.type=='people'">who work in</h3>
         <h3 ng-show="filters.d.type=='tags'">applied to</h3>
         <ul>
            <li class="filter-option" ng-click="filters.set('language', 'python')">
               <span class="status" ng-if="filters.d.language == 'python'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.language != 'python'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">Python</span>
            </li>

            <li class="filter-option" ng-click="filters.set('language', 'r')">
               <span class="status" ng-if="filters.d.language == 'r'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.language != 'r'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">R</span>
            </li>
         </ul>
      </div>

      <div class="language-type-select facet">
         <h3 ng-show="filters.d.type=='packages'">that are</h3>
         <h3 ng-show="filters.d.type=='people'">and who are</h3>
         <h3 ng-show="filters.d.type=='tags'">that are</h3>
         <ul>
            <li class="filter-option" ng-click="filters.toggle('only_academic')">
               <span class="status" ng-if="filters.d.only_academic">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="!filters.d.only_academic">
                  <i class="fa fa-square-o"></i>
               </span>
               <!--
               <i class="fa fa-graduation-cap"></i>
               -->

               <span class="text" ng-show="filters.d.type=='packages'">academic projects</span>
               <span class="text" ng-show="filters.d.type=='people'">academics</span>
               <span class="text" ng-show="filters.d.type=='tags'">academic</span>
            </li>
         </ul>
      </div>



   </div>

   <div class="main">

      <div class="ti-page-header leaderboard-header">
         <h2>
            <span class="text">
               Top
               <span class="language">{{ filters.d.language }}</span>
               <span class="leaders-type">{{ filters.d.type }}</span>
               <span class="filters" ng-show="leaders.filters.length">

               </span>
            </span>
         </h2>
      </div>


      <div class="content">
         <div class="list-items">
            <!-- packages loop -->
            <div ng-if="filters.d.type=='packages'" class="leader" ng-repeat="package in leaders.list">
               <div class="package-snippet-wrapper"  ng-include="'snippet/package-snippet.tpl.html'"></div>
            </div>

            <!-- people loop -->
            <div ng-if="filters.d.type=='people'" class="leader" ng-repeat="person in leaders.list">
               <div class="package-snippet-wrapper"  ng-include="'snippet/person-snippet.tpl.html'"></div>
            </div>

            <!-- tag loop -->
            <div ng-if="filters.d.type=='tags'" class="leader" ng-repeat="tag in leaders.list">
               <div class="package-snippet-wrapper"  ng-include="'snippet/tag-snippet.tpl.html'"></div>
            </div>



         </div>
      </div>

   </div>




</div>