<div class="top-packages top-page page sidebar-page">



   <div class="sidebar">

      <div class="leader-type-select facet">
         <h3>Show me</h3>
         <ul>
            <li class="filter-option" ng-click="filters.set('type', 'people')">
               <span class="status" ng-if="filters.d.type == 'people'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.type != 'people'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">coders</span>
            </li>

            <li class="filter-option" ng-click="filters.set('type', 'packages')">
               <span class="status" ng-if="filters.d.type == 'packages'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.type != 'packages'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">packages</span>
            </li>

            <li class="filter-option" ng-click="filters.set('type', 'tags')">
               <span class="status" ng-if="filters.d.type == 'tags'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.type != 'tags'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">tags</span>
            </li>
         </ul>

      </div>

      <div class="language-type-select facet">
         <h3 ng-show="filters.d.type=='packages'">written in</h3>
         <h3 ng-show="filters.d.type=='people'">who work in</h3>
         <h3 ng-show="filters.d.type=='tags'">applied to</h3>
         <ul>
            <li class="filter-option" ng-click="filters.set('language', 'python')">
               <span class="status" ng-if="filters.d.language == 'python'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.language != 'python'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">Python</span>
            </li>

            <li class="filter-option" ng-click="filters.set('language', 'r')">
               <span class="status" ng-if="filters.d.language == 'r'">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="filters.d.language != 'r'">
                  <i class="fa fa-square-o"></i>
               </span>

               <span class="text">R</span>
            </li>
         </ul>
      </div>

      <div class="language-type-select facet">
         <h3 ng-show="filters.d.type=='packages'">that are</h3>
         <h3 ng-show="filters.d.type=='people'">and who are</h3>
         <h3 ng-show="filters.d.type=='tags'">that are</h3>
         <ul>
            <li class="filter-option" ng-click="filters.toggle('only_academic')">
               <span class="status" ng-if="filters.d.only_academic">
                  <i class="fa fa-check-square-o"></i>
               </span>
               <span class="status" ng-if="!filters.d.only_academic">
                  <i class="fa fa-square-o"></i>
               </span>
               <!--
               <i class="fa fa-graduation-cap"></i>
               -->

               <span class="text" ng-show="filters.d.type=='packages'">academic projects</span>
               <span class="text" ng-show="filters.d.type=='people'">academics</span>
               <span class="text" ng-show="filters.d.type=='tags'">academic</span>
            </li>
         </ul>
      </div>

      <a class="json-link btn btn-default"
         popover-title="View this page as JSON"
         popover-placement="right"
         popover-trigger="mouseenter"
         popover="Everything here is open data, free to use for your own projects. You can also check out our API for more systematic access."
         href="api/leaderboard?{{ filters.asQueryStr() }}">
         <i class="fa fa-download"></i>
         JSON
      </a>



   </div>

   <div class="main">

      <div class="ti-page-header leaderboard-header">
         <h2>
            <span class="icons">
               <!-- put icons here based on filters -->
            </span>
            <span class="text">
               Highest-impact
               <span class="is-academic" ng-if="filters.d.is_academic">academic</span>
               <span class="language">{{ filters.d.language }}</span>
               <span class="leaders-type">{{ filters.d.type }}</span>
            </span>
         </h2>
         <div class="descr">
            <span class="people" ng-show="filters.d.type=='people'">
               Based on the impact of packages they've worked on.
            </span>
            <span class="tags" ng-show="filters.d.type=='tags'">
               Based on the number of packages associated with the tag.
            </span>
            <span class="impact-criteria" ng-show="filters.d.type=='packages' || filters.d.type=='people'">
               That's from how often (and by whom) packages are
                  <a class="impact-dimension downloads" popover="More about downloads coming soon" popover-trigger="mouseenter">
                     downloaded,
                     <i class="fa fa-question-circle"></i>
                  </a>
                  <a class="impact-dimension pagerank" popover="More about reverse dependencies coming soon" popover-trigger="mouseenter">
                     used in other software,
                     <i class="fa fa-question-circle"></i>
                  </a>
                     and
                  <a class="impact-dimension downloads" popover="More about citations coming soon" popover-trigger="mouseenter">
                     cited in the scholarly literature.
                     <i class="fa fa-question-circle"></i>
                  </a>
            </span>

         </div>
      </div>


      <div class="content">
         <div class="list-items">
            <!-- packages loop -->
            <div ng-if="filters.d.type=='packages'" class="leader" ng-repeat="package in leaders.list">
               <div class="package-snippet-wrapper"  ng-include="'snippet/package-snippet.tpl.html'"></div>
            </div>

            <!-- people loop -->
            <div ng-if="filters.d.type=='people'" class="leader" ng-repeat="person in leaders.list">
               <div class="package-snippet-wrapper"  ng-include="'snippet/person-snippet.tpl.html'"></div>
            </div>

            <!-- tag loop -->
            <div ng-if="filters.d.type=='tags'" class="leader" ng-repeat="tag in leaders.list">
               <div class="package-snippet-wrapper"  ng-include="'snippet/tag-snippet.tpl.html'"></div>
            </div>



         </div>
      </div>

   </div>




</div>