<span class="package-snippet"
     ng-controller="packageSnippetCtrl">
   <span class="left-metrics"
         popover-placement="top"
         popover-trigger="mouseenter"
         popover-template="'package-snippet/impact-popover.tpl.html'">

      <span class="one-metric metric">
         {{ round(package.impact, 1) }}<span class="percent">%</span>
      </span>


      <span class="vis">
         <span class="vis-bar" style="width: {{ package.impact }}%;">
            <span ng-repeat="subScoreRatio in subScoreRatios"
                  class="subscore subscore-{{ subScoreRatio.name }}"
                  style="width: {{ subScoreRatio.val * 100 }}%;"></span>
         </span>

      </span>

   </span>

   <span class="metadata">
      <span class="name-container">

         <span class="language-icon r"
               ng-if="package.language=='r'"
              tooltip="R package">
            R
         </span>
         <span class="language-icon python"
               ng-if="package.language=='python'"
              tooltip="Python package">
            py
         </span>

         <a class="name" tooltip="click for more info" href="package/{{ package.language }}/{{ package.name }}">
            {{ package.name }}
         </a>
      </span>
      <span class="summary">{{ package.summary }}</span>
   </span>

</span>


